@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #dc2626; /* Red-600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #0f0f0f;
}
